*{

	color: white;
	font-size: 24px;
}

body
{
	height:600px;
	width:900px;
	background-image: url('../images/background.jpg');


}

.characterImg 
{
	height:130px;
	width:130px;
	margin:10px;

}

#atkBtn
{
	background-color: red;
}

