*{

	color: white;
	font-size: 30px;
}

body
{
	height:600px;
	width:800px;
	background-image: url('../images/background.jpg');


}

.characterImg 
{
	height:150px;
	width:150px;
	margin:10px;
}

#atkBtn
{
	background-color: red;
}

